@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark , .dark *));
@theme {
  --color-bright-primary: #87986a;
  --color-bright-secondary: #cfe1b9;
  --color-bright-text: #282828;
  --color-bright-background: #e9f5db;
  --color-bright-accent: #080808;
  --color-bright-highlight: #718355;
  --color-bright-hover: #1b1e15;

  --color-dark-primary: #588157;
  --color-dark-secondary: #a3b18a;
  --color-dark-text: #fffdfa;
  --color-dark-background: #3a5a40;
  --color-dark-accent: #4b3f2f;
  --color-dark-highlight: #344e41;
  --color-dark-hover: #a3b18a;
}
